<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> {{ titulo }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light ">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <!-- List of Text Items -->
  <ion-list>
    <ion-item-sliding *ngFor="let filme of listaVideos">
      <ion-item lines="full" (click)="exibirFilme(filme)">
        <ion-thumbnail slot="start">
          <img [src]="filme.cartaz" />
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>{{ filme.nome }}</h1>
            <p>{{ filme.lancamento }} (BR) - {{ filme.duracao }}</p>
            <ion-badge color="light" *ngFor="let genero of filme.generos">
              {{genero}}
              </ion-badge
            >
          </div>
        </ion-label>
        <ion-chip color="success" outline>
          <ion-label> {{filme.classificacao}}%</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="exibirAlertaFavorito()">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- <ion-button>Default</ion-button>
  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button> -->
</ion-content>
