<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light ">
<img src="https://lh3.googleusercontent.com/ogw/ADea4I75vfG-agaMfIzpFeSumvPofK1X2TBgReiZHvamyQ=s83-c-mo" alt="">
<h1>Marco Antonio Gonçalves Vilella</h1>
<p>Analista Desenvolvedor de Sistemas na Prefeitura Municipal de Contagem</p>
<a href="mailto:marco.vilella@contagem.mg.gov.br">marco.vilella@contagem.mg.gov.br</a>
</ion-content>
